//
// Plyr Plugin
//

.plyr {
  height: auto !important;
  border-radius: 5px;
}

.plyr__volume input[type=range],
.plyr--full-ui input[type=range] {
  color: $primary;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true],
.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
  background: $primary;
  outline: none;
  box-shadow: none;
}

.plyr__control--overlaid {
  background: rgba($white, .95);
  padding: 25px;

  &:hover {
    background: $white !important;
  }

  svg {
    fill: $gray-800;
    width: 12px;
    height: 12px;
  }
}